<nav class="navbar navbar-expand-lg navbar-light bg-light">
  


  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tableByNgLoop">Table by  ngFor lopp</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/showHideByNgclass">Show Hide By NgClass</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tabsByNgswitch">Tabs by ngswitch</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/modalByNgbootstrap">Modal popup by ngbootstrap</a>
      </li>
    </ul>
  </div>
</nav>